/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

.tile.active {
  border: 1px solid rgb(0, 225, 255);
}

.tile {
  border: 1px solid black;
}

.cell-input {
  border: none;
  outline: none !important;
}
/*  */
#main:focus {
  /* outline: none; */
}
